doctype html
html 
    head
        title= "this is a pure pug"
        style 
            include ../styling/style.css
    body

        nav 
            ul
                li #[a(href="/home") home]
                li #[a(href="/sevice") service]
                li #[a(href="/about") about]
                li #[a(href="/contact") contact us]
        div.container
            h1 welcome to esports gaming 
            p EatSleepGameRepeat 
        div.container1
            div.heading
                h2.motto Our mission 
            div.ncontainer
                div.card1.cards
                    img(src="https://www.datocms-assets.com/34299/1690917454-gaming-pc-category-hero-primary-sm.png?w=339&auto=format&fit=max&ixlib=react-9.7.0&h=512", alt="error img loading" ,height="44" ,width="64")
                    h2 Our pc's
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam consectetur suscipit expedita quod. Reiciendis explicabo facere laboriosam ipsam eos eius culpa nobis tempora in molestiae quo perspiciatis voluptas dicta quia suscipit tenetur, minus dolorum.
                div.card2.cards
                    img(src="https://images.squarespace-cdn.com/content/v1/5942cd765016e164a3c76b01/1548709271387-BK14BRW3GOYTY2CMRKSQ/MOBA+-+Environment+2.jpg", alt="error img loading" ,height="44" ,width="64")
                    h2 our environment
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam consectetur suscipit expedita quod. Reiciendis explicabo facere laboriosam ipsam eos eius culpa nobis tempora in molestiae quo perspiciatis voluptas dicta quia suscipit tenetur, minus dolorum.
                    
                div.card3.cards
                    img(src="https://clipart-library.com/new_gallery/59-590901_download-growth-chart-png-hd-chart-going-up.png", alt="error img loading" ,height="44" ,width="64")
                    h2 Course outcomes
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam consectetur suscipit expedita quod. Reiciendis explicabo facere laboriosam ipsam eos eius culpa nobis tempora in molestiae quo perspiciatis voluptas dicta quia suscipit tenetur, minus dolorum.
        div.container2 
            h2.sponsors Our Sponsors
            div.spocontainer
                div.spo1.spo
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcLhrhUt4vh69WFUCTOF6jNDQLoJb0HveznhsntMWUFZUjcjS599e4ZZ9Ld04ermuDpw&usqp=CAU", alt="" height="102",width="202")
                div.spo2.spo 
                    img(src="https://wallpapers.com/images/featured/wsyalnxjtgdjtzd3.jpg", alt="" height="102",width="202")
                div.spo3.spo
                    img(src="https://swiftbox.in/wp-content/uploads/2021/08/Redgear-Logo.jpg", alt="" height="102",width="202")
                div.spo4.spo
                    img(src="https://logos-world.net/wp-content/uploads/2020/11/Razer-Symbol.jpg", alt="" height="102",width="202")
        