doctype html 
html 
    head
        title= "this is a pure pug"
        style 
            include ../styling/style.css
    body
        nav 
            ul
                li #[a(href="/home") home]
                li #[a(href="/sevice") service]
                li #[a(href="/about") about]
                li #[a(href="/contact") contact us]